@if (authService.isAuthenticated()) {
  <div class="navbar bg-base-100 shadow-sm z-50 relative">
    <div class="flex-1">
      <a routerLink="/chat" class="btn btn-ghost text-xl font-bold">Messy 💬</a>
    </div>

    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="User Avatar" [src]="getAvatarUrl()" />
          </div>
        </div>
        <ul tabindex="0" class="mt-3 z-1 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">

          <li><a routerLink="/profile">Profil</a></li>

          <li><a>Ustawienia</a></li>
          <div class="divider my-0"></div>

          <li><a (click)="logout()" class="text-error font-semibold cursor-pointer">Wyloguj się</a></li>

        </ul>
      </div>
    </div>
  </div>
}
